[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Moon
Name[ca]=Lluna
Name[cs]=Měsíc
Name[de]=Mond
Name[el]=Σελήνη
Name[eo]=Luno
Name[es]=Luna
Name[fi]=Kuu
Name[fr]=Lune
Name[gl]=Lúa
Name[hu]=Hold
Name[hi]=चंद्रमा
Name[it]=Luna
Name[ja]=月
Name[lt]=Mėnulis
Name[ml]=മൂൺ
Name[ms]=Bulan
Name[nl]=Maan
Name[pl]=Księżyc
Name[pt]=Lua
Name[pt_BR]=Lua
Name[ru]=Луна
Name[sk]=Мesiac
Name[sr]=Месец
Name[tr]=Ay
GenericName=gadget
GenericName[ca]=giny
GenericName[de]=Helfer
GenericName[el]=γραφικό στοιχείο
GenericName[eo]=akcesoraĵo
GenericName[es]=Gadget
GenericName[fi]=vempain
GenericName[fr]=Gadget
GenericName[gl]=trebello
GenericName[hi]=गैजेट
GenericName[it]=Gadget
GenericName[ja]=ガジェット
GenericName[ko]=가젯
GenericName[lt]=įtaisas
GenericName[ml]=ഗാഡ്ജെറ്റ്
GenericName[pl]=Gadżet
GenericName[ms]=gadjet
GenericName[sr]=справица
GenericName[tr]=araç
Comment=Gadget for Moksha which displays the current phase of the moon.
Comment[ca]=Giny per Moksha que mostra la fase actual de la lluna.
Comment[cs]=Gadget pro Enlightenment zobrazující aktuální fázi měsíce.
Comment[de]=Helfer für Moksha, um die aktuelle Mondphase anzuzeigen.
Comment[el]=Συστατικό για το Moksha που εμφανίζει την τρέχουσα φάση της σελήνης.
Comment[eo]=<br>Akcesoraĵo por E17 kiu vidigas la nunan lunan fazon.
Comment[es]=Módulo que muestra la fase lunar actual.
Comment[fr]=Ce gadget pour Moksha affiche la phase lunaire actuelle.
Comment[gl]=Módulo para Moksha que mostra a fase luar actual.
Comment[hi]=E17 के लिए गैजेट जो चंद्रमा के वर्तमान चरण को दर्शाता है
Comment[hu]=Egy E17 modul, amellyel a Hold aktuális fázisait követhetjük nyomon.
Comment[it]=Modulo per Moksha che mostra l'attuale fase lunare.
Comment[ml]=ചന്ദ്രന്റെ നിലവിലെ ഘട്ടം പ്രദർശിപ്പിക്കുന്ന Moksha-നുള്ള ഗാഡ്‌ജെറ്റ്.
Comment[ms]=Gadjet untuk Moksha yang papar fasa semasa bulan.
Comment[pl]=Gadżet dla Moksha który wyświetla aktualną fazę księżyca.
Comment[pt]=Módulo que exibe a fase lunar.
Comment[pt_BR]=Gadget que exibe a fase lunar.
Comment[ru]=Гаджет для Е17, которыей показывает текущую фазу луны.
Comment[sk]=Gadget zobrazujúci aktuálnu fázu mesiaca.
Comment[sr]=Справица за е17 која приказује месечеве мене
Comment[tr]=Ayın geçerli evresini görüntüleyen Moksha aracı
Icon=e-module-moon
X-Enlightenment-ModuleType=utils
